subscription_id      = "<your-subscription-id>"
tenant_id            = "<your-tenant-id>"
resource_group_name  = "<your-resource-group-name>"
storage_account_name = "<your-storage-account-name>"
container_name       = "<your-container-name>"
key                  = "terraform.tfstate"
